Source: flush
Section: net
Priority: extra
Maintainer: Konishchev Dmitry <konishchev@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://sourceforge.net/projects/flush

Package: flush
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK-based BitTorrent client
 Flush is a GTK-based BitTorrent client. You can use it to download
 files from the BitTorrent network.
 .
 Features:
  * Controlling running instance by command line interface.
  * Running many instances with different configs from the same user.
  * Automatic copying finished downloads to specified directory.
  * Setting custom download path for each file of torrent.
  * Automatic removing old torrents.
  * Overall and current session statistics.
  * Creating your own torrent files.
 .
 Flush uses Rasterbar's version of libtorrent.

